<app-employee-task-new
[uuid]="employeeUuid"></app-employee-task-new>
<div class="view">
    <div *ngIf="(tasks$ | async) as tasks">
        <div class="task" *ngFor="let task of tasks">
            <p class="task__data--label">
                <strong>Data:</strong>
            </p>
            <p class="task__data--value">
                    {{ task.text }}
            </p>
            <p class="task__data--label">
                <strong>Treść:</strong>
            </p>
            <p class="task__data--value">
                {{ task.text }}
            </p>
            <div>
                <button class="task__delete" (click)="delete( task.uuid )">
                    Usuńss
                </button>
            </div>
        </div>
</div>
</div>

