<app-employee-task-new [uuid]="employeeUuid"></app-employee-task-new>
<div class="view">
    <div *ngIf="(tasks$ | async) as tasks">
        <div class="task" *ngFor="let task of tasks">
            <div class="task__info">
                <mat-icon class="task__icon">assignment</mat-icon>
                <div class="task__data">
                    <p class="task__data--label">
                        <strong>Data:</strong>
                    </p>
                    <p class="task__data--value">
                        <span [matTooltip]="task.date">{{ task.date }}</span>
                    </p>
                    <p class="task__data--label">
                        <strong>Treść:</strong>
                    </p>
                    <p class="task__data--value">
                        <span [matTooltip]="task.text">{{ task.text }}</span>
                    </p>
                    
                </div>
            </div>
            <div>
                <button class="task__delete" (click)="delete( task.uuid )">
                    Usuń
                </button>
            </div>
        </div>
    </div>
</div>