.view {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
    flex-wrap: wrap;
    justify-content: space-around;
    .schedule-info{
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 12px;
        -webkit-box-shadow: 1px 18px 27px -10px #333;
        -moz-box-shadow: 1px 18px 27px -10px #333;
        box-shadow: 1px 18px 27px -10px #333;
        background-color: #eee;
        padding: 8px;
        h2{
            margin-bottom: 0;
        }
    }
    .task,.schedule {
        display: flex;
        flex-direction: column;
        background-color: #fafafa;
        -webkit-box-shadow: 1px 14px 25px -12px rgba(66, 68, 90, 1);
        -moz-box-shadow: 1px 14px 25px -12px rgba(66, 68, 90, 1);
        box-shadow: 1px 14px 25px -12px rgba(66, 68, 90, 1);
        display: inline-block;
        width: 230px;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 4px;
        margin: 8px;
        &__info {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 16px;
            padding: 16px;
        }
        &__icon,
        mat-icon {
            font-size: 40px;
            width: 40px;
            height: 40px;
        }
        &__data {
            flex: 1;
            overflow: hidden;
            &--label {
                font-size: 10px;
                text-transform: uppercase;
                text-align: left;
            }
            &--value {
                text-align: left;
                margin-left: 8px;
                margin-bottom: 8px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__delete {
            cursor: pointer;
            background: transparent;
            text-transform: uppercase;
            border: none;
            width: 100%;
            height: 30px;
            border-top: 1px solid black;
            background-color: #666;
            color: #fafafa;
            transition: 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
            &:hover {
                background-color: #333;
                color: white;
            }
        }
    }
}
