<div class="adminHeaderB">
    <a [routerLink]="['/harmonogram']">
        <button type="button" class="headerButton">Harmonogram</button>
    </a>
    <a [routerLink]="['/stanowiska']">
        <button type="button" class="headerButton">Stanowiska</button>
    </a>
    <a [routerLink]="['/pracownicy']">
        <button type="button" class="headerButton">Pracownicy</button>
    </a>
    <a [routerLink]="['/opcje']">
        <button type="button" class="headerButton">Opcje</button>
    </a>
</div>