<div class="header" *ngIf="isAdmin(roles$ | async)">
    <button class="header__link" [routerLink]="['/harmonogram']" routerLinkActive="active">
        <span class="header__link--text">Harmonogram</span>
    </button>
    <button class="header__link" [routerLink]="['/stanowiska']" routerLinkActive="active">
        <span class="header__link--text">Stanowiska</span>
    </button>
    <button class="header__link" [routerLink]="['/pracownicy']" routerLinkActive="active">
        <span class="header__link--text">Pracownicy</span>
    </button>
    <button class="header__link" [routerLink]="['/zmiany']" routerLinkActive="active">
        <span class="header__link--text">Zmiany</span>
    </button>
</div>