<app-shift-new></app-shift-new>
    <div class="view">
        <ng-container *ngIf="(shifts$ | async) as shifts">
            <div class="shift" *ngFor="let shift of shifts">
                <div class="shift__info">
                    <mat-icon class="shift__icon">pending_actions</mat-icon>
                    <div class="shift__data">
                        <p class="shift__data--label">
                            <strong>Początek:</strong>
                        </p>
                        <p class="shift__data--value">
                            <span [matTooltip]="shift.startTime">
                                {{ shift.startTime }}
                            </span>
                        </p>
                        <p class="shift__data--label">
                            <strong>Koniec:</strong>
                        </p>
                        <p class="shift__data--value">
                            <span [matTooltip]="shift.finishTime">{{ shift.finishTime }}</span>
                        </p>
                    </div>
                </div>
                <button class="shift__button" (click)="delete( shift.uuid )">
                    Usuń
                </button> 
                <button class="shift__button" [routerLink]="['/zmiany/aktualizuj/'+ shift.uuid]">
                    Aktualizuj
                </button> 
            </div>
    </ng-container>
</div>

