<div class="view">
    <div class="schedule-info">
        <h2>
            Wybierz datę a następnie zmianę, aby przejść do harmonogramu.
        </h2>
    </div>
    <mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selected"></mat-calendar>
  </mat-card>
    <ng-container *ngIf="(shifts$ | async) as shifts">
        <div class="shift" *ngFor="let shift of shifts">
            <div class="shift__info">
            <mat-icon class="shift__icon">pending_actions</mat-icon>
            <div class="shift__data">
                <p class="shift__data--label">
                    <strong>Początek:</strong>
                </p>
                <p class="shift__data--value">
                    <span [matTooltip]="shift.startTime">
                        {{ shift.startTime }}
                    </span>
                </p>
                <p class="shift__data--label">
                    <strong>Koniec:</strong>
                </p>
                <p class="shift__data--value">
                    <span [matTooltip]="shift.finishTime">
                        {{ shift.finishTime }}
                    </span>
                </p>
            </div>
            </div>
                <button class="shift__button" 
                [routerLink]="['/harmonogram/'+ parsedDate + '/' + shift.uuid]">
                    Wybierz
                </button>
        </div>
</ng-container>
</div>