    <section class="example-section">
        <span class="example-list-section" *ngIf="(workplaces$ | async) as workplaces">
            <ul *ngFor="let workplace of workplaces; let i = index;">
                {{ workplace.name }}
                <span *ngIf="(getWorkplaceEmployees(workplace.position) | async) as employees">
                <li *ngFor="let employee of employees">
                    <mat-checkbox 
                        [color]="color"
                        [disabled]="false"
                        (change)="toggleEmployee(i, employee.uuid, $event)"
                        >
                        {{employee.name}} {{employee.surname}}
                    </mat-checkbox>
                </li>
            </span>
            </ul>
        </span>
    </section>
    <button class="btt" (click)="addSchedule()">Dodaj</button>
