<form>
    <section class="example-section">
        <span class="example-list-section" *ngIf="(workplaces$ | async) as workplaces">
            <ul *ngFor="let workplace of workplaces">
                {{ workplace.name }}
                <span *ngIf="(employees$ | async) as employees">
                <li *ngFor="let employee of employees">
                    <span *ngIf="workplace.position == employee.position">
                        <mat-checkbox 
                        formControlName="employee.name" 
                        [color]="color"
                            [disabled]="false">
                            {{employee.name}} {{employee.surname}}
                        </mat-checkbox>
                    </span>
                </li>
            </span>
            </ul>
        </span>
    </section>
</form>
