<div class="new-task">
  <h2>Dodaj nowe zadanie:</h2>
  <form [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Wybierz datę</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Dodaj nowe zadanie:</mat-label>
        <input matInput formControlName="text">
    </mat-form-field>
    <button mat-raised-button [disabled]="!form.valid" (click)="addTask(uuid)">Dodaj</button>
  </form>
</div>