.new-task {
    margin: 32px;
    border-radius: 12px;
    -webkit-box-shadow: 1px 18px 27px -10px #333;
    -moz-box-shadow: 1px 18px 27px -10px #333;
    box-shadow: 1px 18px 27px -10px #333;
    background-color: #eee;
    padding: 16px;
    h2 {
        text-transform: uppercase;
    }
    form {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: center;
        > * {
            margin: 0 6px;
        }
        button {
            line-height: 52px;
            padding-left: 32px;
            padding-right: 32px;
            text-transform: uppercase;
        }
    }
}