<div class="new-task">
    <form [formGroup]="form">
        <mat-form-field appearance="fill" >
            <mat-label>Wybierz datę</mat-label>
            <input matInput [matDatepicker]="picker"  formControlName="date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field appearance="fill" >
            <mat-label>Dodaj nowe zadanie:</mat-label>
            <input matInput  formControlName="text">
          </mat-form-field>
    <button class="btt" (click)="addTask(uuid)">Dodaj</button>
    </form>
</div>