<div class="new-workplace">
    <form [formGroup]="form">
    <label for="name">Dodaj nowe stanowisko pracy:</label>
    <input formControlName="name" type="text" placeholder="Podaj nazwę">
    <a class="choose-position">
        <select formControlName="position">
        <option value="" disabled>Wybierz kwalifikację</option>
        <ng-container *ngIf="(positions | async) as positions">
            <option *ngFor="let position of positions" [ngValue]="position">{{position}}</option>
           </ng-container>
    </select>
</a>
    <button class="btt" (click)="addNew()">Dodaj</button>
    </form>
</div>