<div class="header">
    <a [routerLink]="['/zarejestruj']" class="header" *ngIf="(isLoggedIn$ | async) === false">
        <button type="button" class="headerButton">Zarejestruj się</button>
    </a>
    <a [routerLink]="['/zaloguj']" class="header" *ngIf="(isLoggedIn$ | async) === false">
        <button type="button" class="headerButton">Zaloguj się</button>
    </a>
    <a [routerLink]="['/']" *ngIf="(isLoggedIn$ | async) === true">
        <button type="button" class="headerButton" (click)="logout()">Wyloguj</button>
    </a>
</div>