<div class="header">
    <button class="header__link" [routerLink]="['/zarejestruj']" *ngIf="(isLoggedIn$ | async) === false" >
        <span class="header__link--text">Zarejestruj się</span>
    </button>
    <button class="header__link" [routerLink]="['/zaloguj']" *ngIf="(isLoggedIn$ | async) === false" >
        <span class="header__link--text">zaloguj się</span>
    </button>
    <button class="header__link" [routerLink]="['/zarejestruj']" *ngIf="(isLoggedIn$ | async) === true" 
    (click)="logout()">
        <span class="header__link--text">Wyloguj</span>
    </button>
</div>