<app-workplace-new></app-workplace-new>
    <div class="view">
        <div *ngIf="(workplaces$ | async) as workplaces">
            <div class="a-workplace" *ngFor="let workplace of workplaces">
                <p><strong>Stanowisko:</strong>
                    <br/>
                    {{ workplace.name }}
                </p>
                <p><strong>Uprawnienia:</strong>
                    <br/>
                    {{ workplace.position }}
                </p> 
                <div class="left"><button class="btt" (click)="delete( workplace.uuid )">Usuń</button></div>
            </div>
    </div>
</div>



