<app-workplace-new></app-workplace-new>
    <div class="view">
        <ng-container *ngIf="(workplaces$ | async) as workplaces">
            <div class="workplace" *ngFor="let workplace of workplaces">
                <div class="workplace__info">
                    <mat-icon class="workplace__icon">badge</mat-icon>
                    <div class="workplace__data">
                        <p class="workplace__data--label">
                            <strong>Stanowisko:</strong>
                        </p>
                        <p class="workplace__data--value">
                            <span [matTooltip]="workplace.name">
                                {{ workplace.name }}
                            </span>
                        </p>
                        <p class="workplace__data--label">
                            <strong>Uprawnienia:</strong>
                        </p>
                        <p class="workplace__data--value">
                            <span [matTooltip]="workplace.position">{{ workplace.position }}</span>
                        </p>
                    </div>
                </div>
                <button class="workplace__tasks" (click)="delete( workplace.uuid )">
                    Usuń
                </button> 
            </div>
    </ng-container>
</div>